<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <link type="text/css" rel="stylesheet" href="/stylesheets/style.css">
</head>

<body>
    <script type="text/x-template" id="countdown-template">
        <section class="flex">
            <div class="box" v-if="!expired">
                <h1>До вручения подарка:</h1>
                <p>{{theTime.days}}</p>
                <p>:</p>
                <p>{{theTime.hours}}</p>
                <p>:</p>
                <p>{{theTime.minutes}}</p>
                <p>:</p>
                <p>{{theTime.seconds}}</p>
            </div>
            <div v-if="expired">
                <p><a href="/gift">Открыть подарок</a></p>
            </div>
        </section>
    </script>
    <div id="app">
        <countdown></countdown>
    </div>
    <script src="/javascripts/timer.js"></script>
</body>

</html>
