doctype html
html(lang="ru")
  head
    meta(charset="UTF-8")
    script(src='https://cdn.jsdelivr.net/npm/vue/dist/vue.js')
    link(type="text/css" rel="stylesheet" href="/stylesheets/faq.css")
    title= "Привет!"

  body
    div.greetings
      p FAQ

    div.main-block.back-trans
      p #[a(href="http://ncitylab.com") На главную]

    div.main-block.back-trans
      h3 "Что это за сайт?"
      p NCityLab - это сайт ролевого сообщества "N-city". В данный момент разрабатывается и готовится к запуску.

    div.main-block.back-trans
      h3 Немного об игре
      p Игра в жанре драма с элементами триллера "N-city" была создана на уже почившем сайте beon.ru. Таких, как мы, было много и мы не выделялись чем-то особенным в плане игровой механики, построения сюжета или критериев отбора. Наша особенность в другом, мы - одна команда, каждый член которой - важная часть коллектива и сюжета.
      p Состав игроков время от времени менялся, но основной костяк был неизменным. Не смотря на то, что все мы уже взрослые люди, у которых есть работа, дом и семья, мы с удовольствием примеряем на себя роль персонажа, в которого вложили частичку себя, и заходим в игру, чтобы встретиться с теми, кто дорог сердцу.

    div.main-block.back-trans
      h3 "Когда примерно сайт будет готов?"
      p Ответ на этот вопрос знает только Великий Китайский Рандом, однако спешу заверить, что первые изменения не за горами. Когда? Ответ в первом предложении :)

    div.main-block.back-trans
      h3 "Хочу к вам, что нужно сделать?"
      p Во-первых, зарегистрироваться на сайте #[a(href="http://beon.fun") beon.fun], чтобы иметь возможность присоединиться к игре.
      p Во-вторых, зайти в сообщество с нашей игрой #[a(href="http://ncity.beon.fun/") N-city] и подать анкету в личные сообщения #[a(href="http://lilchara.beon.fun/") мне].
      p В-третьих, немного подождать, а после пообщаться со мной :)
      p Вуаля, вы великолепны!

    div.footer
      p &copy; LilChara 2020
