doctype html
html(lang="ru")
  head
    meta(charset="UTF-8")
    script(src='https://cdn.jsdelivr.net/npm/vue/dist/vue.js')
    link(type="text/css" rel="stylesheet" href="/stylesheets/gift.css")

  body
    div.footer
      audio(controls src="/images/soundtrack.mp3")
      p Включи меня!
    div.greetings
      p Здравствуй!
      img(src="/images/greetings.gif")
      p Скорее, листай вниз!

    div.main-block.back-trans
      h3 "Что это за страница?"
      p Эта страница - небольшой подарок для моих любимых игроков из "N-city". Что такое "N-city"? Это - самый лучший город на планете Земля! Ну, во всяком случае, так говорит билборд на въезде :) Если серьёзно, N-city - это текстовая ролевая игра, созданная ровно год назад, первого сентября 2019 года. И я, админ игры и создатель сайта, поздравляю своих невероятных, умопомрачительных, замечательных игроков с днём рождения города!
      img(src="/images/bday.gif")

    div.main-block.back-trans
      h3 Немного об игре
      p Игра в жанре драма с элементами триллера "N-city" была создана на уже почившем сайте beon.ru. Таких, как мы, было много и мы не выделялись чем-то особенным в плане игровой механики, построения сюжета или критериев отбора. Наша особенность в другом, мы - одна команда, каждый член которой - важная часть коллектива и сюжета.
      p Состав игроков время от времени менялся, но основной костяк был неизменным. Не смотря на то, что все мы уже взрослые люди, у которых есть работа, дом и семья, мы с удовольствием примеряем на себя роль персонажа, в которого вложили частичку себя, и заходим в игру, чтобы встретиться с теми, кто дорог сердцу.
      img(src="/images/friends.gif")

    div.main-block.back-trans
      h3 "Что будет с этим сайтом?"
      p Мои игроки знают, что я просто так ничего не делаю, и эта страница была создана не только для того, чтобы высказать слова благодарности и любви.
      p Со временем одностраничный сайт превратится в полноценный сайт для ролевой игры, с кучей полезных и приятных фич ;) Однако на это потребуется какое-то время, поэтому наберитесь терпения :)
      img(src="/images/programming.gif")

    div.main-block.back-trans
      h3 "Хочу к вам, что нужно сделать?"
      p Во-первых, зарегистрироваться на сайте #[a(href="http://beon.fun") beon.fun], чтобы иметь возможность присоединиться к игре.
      p Во-вторых, зайти в сообщество с нашей игрой #[a(href="http://ncity.beon.fun/") N-city] и подать анкету в личные сообщения #[a(href="http://lilchara.beon.fun/") мне].
      p В-третьих, немного подождать, а после пообщаться со мной :)
      p Вуаля, вы великолепны!
      img(src="/images/awesome.gif")

    div.main-block.back-trans
      h3 А теперь обращение к самим игрокам
      p Мои бесценные, замечательные, вдохновляющие жители N-city. Я поздравляю вас с днём рождения нашей игры. Мы прошли многое, многое пережили и не смотря ни на что, остались вместе. Это лучшая награда - читать ваши посты, сообщения в чате, отвечать на вопросы и, конечно же, играть с вами.
      p Каждый из вас - родная душа для меня, и я очень рада, что мы уже целый год поддерживаем жизнь в игре. Я надеюсь, что так будет и дальше, и эта годовщина - не последняя.
      p #[i С днём рождения, любимый город!]
      img(src="/images/bday2.gif")
      br
      p А я ухожу в отпуск :)
      p Конечно, я буду за вами следить, делать для вас эпизоды и подкидывать стрёмные идеи :) А также заниматься разработкой сайта
      p Не забывайте, #[b я всё вижу!]
      img(src="/images/watching.gif")

    div.footer
      p Гифки взяты #[a(href="https://giphy.com/") отсюда]
      p Музыка: Steve Adams - Dulcinea
      p &copy; LilChara 2020
