doctype html
html(lang="ru")
	head
		meta(charset="UTF-8")
		link(type="text/css" rel="stylesheet" href="/stylesheets/style.css")
		title= "Домашняя страница"

	body
		div.center.background
			div.menu
				a.general-button(href="/") На главную
				a.general-button(href="/faq") FAQ
				a.general-button(href="/test") Тест!
				if user.role === "admin"
					a.general-button(href="/admin") Админская панель
				a.general-button(href='/signout') Выйти
			div.home-text
				#user
				h1 Рад тебя видеть, #{user.username}.
				p Здесь пока что ничего нет, но скоро будет :)
				p Не скучай :)
