doctype html
html(lang="ru")
  head
    meta(charset="UTF-8")
    script(src='https://cdn.jsdelivr.net/npm/vue/dist/vue.js')
    link(type="text/css" rel="stylesheet" href="/stylesheets/style.css")
    title= "..."

  body

    script(type="text/x-template" id="countdown-template")
      section.flex
        div("v-if"="!expired" class="box")
          h1 До вручения подарка:
          p {{theTime.days}}
          p :
          p {{theTime.hours}}
          p :
          p {{theTime.minutes}}
          p :
          p {{theTime.seconds}}

        div("v-if"="expired")
          p #[a(href="/gift") Открыть подарок]


    div(id="app")
      countdown/


    script(src='/javascripts/timer.js')
