div.modal(data-modal="1")
  p.js-modal-close Закрыть
  p.digital-text Войти?
  div.login
    form( action='login', method='POST')
      input(type='text', name='username', placeholder='Логин', required, autofocus)
      input(type='password', name='password', placeholder='Пароль', required)
      input(class ='button', type='submit', value='Войти')
      span.clearfix
      a.js-open-modal.button(href=0, data-modal="2") Зарегистрироваться
    #message
      if message
        h1 #{message}

div.modal(data-modal="2")
  p.js-modal-close Закрыть
  p.digital-text Зарегистрироваться
  div.signup
    form(action='signup', method='POST')
      input(type='text', name='username', placeholder='Логин', required, autofocus)
      input(type='password', name='password', placeholder='Пароль', required)
      input(type='email', name='email', placeholder='E-mail',required)
      input(class='button', type='submit', value='Зарегистрироваться')
      span.clearfix
    #message
      if message
        h1 #{message}

div.overlay.js-overlay-modal

script(src='/javascripts/modal.js')
