doctype html
html(lang="ru")
	head
		meta(charset="UTF-8")
		link(type="text/css" rel="stylesheet" href="/stylesheets/style.css")
		script(src='https://www.google.com/recaptcha/api.js')
		title= "Регистрация"

	body
		div.background
			h1.digital-text Регистрация
				form(class='form-signin', action='/signup', method='POST')
					input(type='text', name='username', placeholder='Логин', required, autofocus)
					input(type='password', name='password', placeholder='Пароль', required)
					input(type='email', name='email', placeholder='E-mail', required)
					div(class="g-recaptcha center" data-sitekey="6LcfN_IZAAAAAMxb8lfkiAZnT3BfdnYrmPEvI70H")
					input(class='js-open-modal button', type='submit' value='Зарегистрироваться')
					span.clearfix
				#message
					if message
						p.digital-text #{message}
				a.general-button.big-button(href="/") На главную
