doctype html
html(lang="ru")
	head
		meta(charset="UTF-8")
		link(type="text/css" rel="stylesheet" href="/stylesheets/sign.css")
		title= "Домашняя страница"

	body
		div.main-block
			h1.text Домашняя страница
				div.text
					#user
					h3 #{user.username}
			a.to-main(href="http://ncitylab.com") Вернуться на главную
			a.to-main(href='/signout') Выйти
