doctype html
html(lang="ru")
  head
    meta(charset="UTF-8")
    script(src='js/jquery-3.5.1.min.js')
    link(type="text/css" rel="stylesheet" href="/stylesheets/style.css")
    title= "Тест"

  body
    div.center.background
      div.menu
      a.general-button(href="/") На главную
      a.general-button(href="/faq") FAQ
      a.general-button(href="/home") Домой
      p Здесь находится тестовая запись, в которой чуть позже можно будет написать комментарии!
