doctype html
html(lang="ru")
  head
    meta(charset="UTF-8")
    script(src='js/jquery-3.5.1.min.js')
    link(type="text/css" rel="stylesheet" href="/stylesheets/style.css")
    title= "Тест"

  body
    div.center.background
      p Здесь находится тестовая запись, в которой чуть позже можно будет написать комментарии!
