@font-face {
  font-family: Roboto Slab; /* Имя шрифта */
  src: url(../stylesheets/faq-font.ttf); /* Путь к файлу со шрифтом */
}

html {
  height: 100%;
}

body {
  background-color: #113861;
  color: #fff;
  background-image: url('/images/backgroundcity.png');
  background-position: bottom;
  background-repeat: repeat-x;
  font-family: Roboto Slab;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-attachment: fixed;
}

h3 {
  font-size: 50px;
}

.back-trans {
  background-color: rgba(255, 255, 255, 0.3);
}

.greetings {
  font-weight: bold;
  font-size: 60px;
  text-align: center;
}

.greetings p {
  margin: 0;
}

.greetings img {
  margin-top: 30px;
}

.main-block {
  text-align: center;
  width: 1000px;
  margin-top: 50px;
  padding: 10px 20px;
}

.footer {
  font-size: 12px;
  margin: 0;
  padding: 0;
  text-align: center;
  color: #BFBFBF;
}

.line-through {
  text-decoration: line-through;
}

.overlay {
  opacity: 0;
  visibility: hidden;
  position: fixed;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, .5);
  z-index: 20;
  transition: .3s all;
}

.modal {
  opacity: 0;
  visibility: hidden;
  width: 100%;
  max-width: 500px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 30;
  box-shadow: 0 3px 10px -.5px rgba(0, 0, 0, .2);
  text-align: center;
  padding: 30px;
  border-radius: 3px;
  background-color: #aaa;
  transition: 0.3s all;
}

.modal a {
  padding: 20px;
  display: inline-block;
  text-decoration: none;
  background-color: #414b52;
  margin: 10px;
  color: #fff;
  border-radius: 3px;
}

.modal.active,
.overlay.active{
   opacity: 1;
   visibility: visible;
}

.modal__cross {
   width: 15px;
   height: 15px;
   position: absolute;
   top: 20px;
   right: 20px;
   fill: #444;
   cursor: pointer;
}
