@font-face { /*Терминальный шрифт*/
  font-family: DigitallCG; /* Имя шрифта */
  src: url(../stylesheets/timer-font.ttf); /* Путь к файлу со шрифтом */
}

@font-face { /*Шрифт для чтения*/
  font-family: CynthoNextSlab-Light; /* Имя шрифта */
  src: url(../stylesheets/faq-font.ttf); /* Путь к файлу со шрифтом */
}

html {
  height: 100%;
}

body {
  height: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items: center;
  background-color: #000;
  color: #fff;
  background-image: url('/images/backgroundblacksun.jpg');
  background-position: center;
  background-size: 1500px auto;
  background-attachment: fixed;
  font-family: CynthoNextSlab-Light;
}

/*НЕСКОЛЬКО ШАБЛОНОВ*/

/*используется в файлах login, modals, register*/
/*делает отступы между полями ввода*/
input {
  margin: 5px;
}

/*используется почти во всех файлах*/
/*затемнение фона для текста*/
.background {
  background-color: rgba(0, 0, 0, 0.5);
  height: auto;
  width: 100%;
}

/*используется почти во всех файлах*/
/*Делает текст "терминальным"*/
.digital-text {
  font-family: DigitallCG;
}

/*Используется в файле index, home*/
/*Выравнивает элеменеты по центру*/
.center {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items: center;
}

/*Используется почти во всех файлах*/
/*Для работы со скриптом*/
.js-open-modal {
  padding: 10px;
  display: inline-block;
  text-decoration: none;
  background-color: #000;
  margin: 10px;
  color: #fff;
  border-radius: 3px;
  font-size: 50px;
  font-family: DigitallCG;
}

/*Используется почти во всех файлах*/
/*При наведении на элемент*/
.js-open-modal:hover {
  background-color: #660000;
  color: #000;
  font-family: DigitallCG;
}

/*используется почти во всех файлах*/
/*Стиль для большинства кнопок*/
.general-button {
  padding: 10px;
  display: inline-block;
  text-decoration: none;
  background-color: #000;
  margin: 10px;
  color: #fff;
  border-radius: 3px;
  font-size: 20px;
  font-family: DigitallCG;
}

/*Используется в файлах login, register*/
/*Увеличение стандартной кнопки*/
.big-button {
  font-size: 30px;
}

/*используется почти во всех файлах*/
/*При наведении на элемент*/
.general-button:hover {
  background-color: #660000;
  color: #000;
}

/*FAQ.PUG*/

/*разделитель для абзацев, используется с тегом div*/
.abzac {
  margin-bottom: 70px;
}

/*Применяется к основному блоку*/
.block-faq {
  height: 100%;
  display: flex;
  flex-direction: column;
  font-size: 20px;
  width: 70%;
  text-align: center;
  justify-content: space-between;
  align-items: center;
}

/*Для уменьшения размера кнопки*/
.little-button {
  font-size: 20px;
}

/*HOME.PUG*/

/*Для растяжки меню по ширине*/
.menu {
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
}

/*Стиль для текста*/
.home-text {
  padding: 10px;
  font-family: CynthoNextSlab-Light;
  font-size: 50px;
}

/*INDEX.PUG*/

/*Кнопка для ссылки "FAQ"*/
.faq-button {
  padding: 10px;
  display: inline-block;
  text-decoration: none;
  background-color: #000;
  margin: 10px;
  color: #fff;
  border-radius: 3px;
  font-size: 50px;
  font-family: DigitallCG;
}

/*При наведении на кнопку*/
.faq-button:hover {
  background-color: #660000;
  color: #000;
}

/*MODALS.PUG*/

/*Фон*/
.overlay {
  opacity: 0;
  visibility: hidden;
  position: fixed;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, .5);
  z-index: 20;
  transition: .3s all;
}

/*Оболочка окна*/
.modal {
  opacity: 0;
  visibility: hidden;
  width: 100%;
  max-width: 500px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 30;
  box-shadow: 0 3px 10px -.5px rgba(0, 0, 0, .2);
  text-align: center;
  padding: 30px;
  border-radius: 3px;
  background-color: #000;
  transition: 0.3s all;
}

/*Добавляется, когда окно активно*/
.modal.active,
.overlay.active{
   opacity: 1;
   visibility: visible;
}

/*Для кнопки "закрыть"*/
.js-modal-close {
  font-family: DigitallCG;
  position: absolute;
  top: 20px;
  right: 20px;
  color: #fff;
  cursor: pointer;
}

/*используется в файле modals*/
/*Для кнопок "войти" и "зарегистрироваться"*/
.button {
  font-family: DigitallCG;
  box-shadow: none;
  outline: none;
  border: none;
  font-size: 20px;
  padding: 10px;
  display: inline-block;
  text-decoration: none;
  background-color: #000;
  margin: 10px;
  color: #fff;
  border-radius: 3px;
}

/*используется в файле modals*/
/*При наведении на кнопку*/
.button:hover {
  background-color: #660000;
  color: #000;
}

/*TEST.PUG*/
textarea {
  min-width: 800px;
  min-height: 200px;
}

/*ADMIN.PUG*/

.admin_page {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
}

.admin_menu {
  display: flex;
  align-self: stretch;
  text-align: center;
  justify-content: center;
}

.admin_row {
  display: flex;
  height: auto;
  flex-direction: row;
  margin: 5px;

}

.admin_panel {
  display: flex;
  flex-direction: column;
  text-align: left;
  justify-content: flex-start;
  align-items: flex-start;
  flex-shrink: 1;
  padding: 10px;
}

.admin_tab_panel {
  display: flex;
  flex-direction: column;
}

.admin_text {
  display: block;
  text-align: center;
  height: 100%;
  width: 100%;
  padding: 10px;
}

.tab {
    float: left;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
}

.tab input {
  padding: 10px;
  display: inline-block;
  text-decoration: none;
  background-color: #000;
  margin: 10px;
  color: #fff;
  border-radius: 3px;
  font-size: 20px;
  font-family: DigitallCG;
}

.tab input:hover {
  background-color: #660000;
  color: #000;
}

.tab input.active {
  background-color: #660000;
  color: #000;
}

.tabcontent {
    display: block;
    text-align: center;
    width: 100%;
    margin: 10px;
    padding: 10px;
}

input {
  margin: 10px;
}

/*HAPPYNEWYEAR.PUG*/

.cookiesbackground {
	background-image: url('/images/happybackground.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

.snowfall {
  height:100%;
  background-image: url('/images/snow.png'), url('/images/snow2.png'), url('/images/snow3.png');
  -webkit-animation: snow 20s linear infinite;
  -moz-animation: snow 20s linear infinite;
  -ms-animation: snow 20s linear infinite;
  -o-animation: snow 20s linear infinite;
  animation: snow 20s linear infinite;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items: center;
}

.happybackground {
  width: 70%;
  background-color: rgba(0, 0, 0, 0.4);
  padding: 10px;
}

@keyframes snow {
    0% {background-position: 0px 0px, 0px 0px, 0px 0px;}
    100% {background-position: 500px 1000px, 400px 400px, 300px 300px;}
}

@-moz-keyframes snow {
    0% {background-position: 0px 0px, 0px 0px, 0px 0px;}
    100% {background-position: 500px 1000px, 400px 400px, 300px 300px;}
}

@-webkit-keyframes snow {
    0% {background-position: 0px 0px, 0px 0px, 0px 0px;}
    50% {background-color:#b4cfe0;}
    100% {background-position: 500px 1000px, 400px 400px, 300px 300px; background-color:#6b92b9;}
}

@-ms-keyframes snow {
    0% {background-position: 0px 0px, 0px 0px, 0px 0px;}
    100% {background-position: 500px 1000px, 400px 400px, 300px 300px;}
